body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

nav {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    position: fixed;
    /* Navbar akan tetap di bagian atas */
    width: 99%;
    /* Lebar navbar mengisi seluruh lebar halaman */
    z-index: 1000;
    /* Z-index untuk memastikan navbar tampil di atas konten lain */
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 70px;
    position: relative;
    /* Untuk posisi relatif agar dropdown muncul di posisi relatif dari item menu utama */
}


.nav-links li a {
    color: #000000;
    text-decoration: none;
}

.nav-links li a:hover {
    color: #3e8e41;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 5px;
    display: block;
    background-color: #fff;
    transition: background-color 0.3s ease;
    /* Menambahkan transisi jika diinginkan */
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    padding: 15px;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.016);
    z-index: 1;
    opacity: 0;
    /* Atur opacity ke 0 agar awalnya tersembunyi */
    transition: opacity 0.9s ease;
    /* Tambahkan efek transisi */
}

/* Tampilkan dropdown ketika item menu utama di-hover */
.nav-links li:hover .dropdown-content {
    display: block;
    opacity: 2;
    /* Atur opacity ke 1 ketika dropdown ditampilkan */
}

/*pada Bagian Header*/
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header-content {
    padding-left: 5%;
    padding-right: 20%;
    max-width: 60%;
}

.container img {
    width: 60%;
    height: auto;
    padding-right: 5%;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    color: #777;
}

.explore-button {
    display: inline-block;
    background-color: #027b3c;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.explore-button:hover {
    background-color: #0f9b37;
}




/*Bagian flatform branName*/

.layanan {
    text-align: center;
}

.layanan h4 {
    font-size: 24px;
    color: #1db265;
}

.layanan-item img {
    width: 70px;
    /* Atur lebar gambar sesuai kebutuhan */
    margin-right: 10px;
    /* Beri jarak antara gambar dan teks */
    flex-shrink: 0;
    /* Agar gambar tidak mengecil saat tata letak berubah */
}

#layanan-kami {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
}

.layanan-item {
    display: flex;
    align-items: center;
    width: calc(33.333% - 20px);
    margin: 10px;
    background-color: transparent;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5%;
}

.layanan-item .text {
    flex-grow: 1;
    /* Agar teks mengisi sisa ruang yang tersedia */
}

.layanan-item h2 {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 10px;
}

.layanan-item p {
    font-size: 20px;
    margin-bottom: 20px;
}


/*Kolom Artikel Telusuri */
/* Pembaruan Bagian Artikel */
.artikel {
    margin-top: 20px;
    /* Menambahkan jarak di bagian atas */
    margin-bottom: 20px;
    /* Menambahkan jarak di bagian bawah */
    padding: 0 20px;
    /* Menambahkan ruang kiri dan kanan */
    text-align: center;
}

.artikel h1 {
    font-size: 2.5rem;
    /* Memperbesar ukuran font untuk penekanan yang lebih baik */
    margin-bottom: 10px;
    /* Mengurangi margin bawah */
    color: #333;
    /* Memperdalam warna untuk kontras yang lebih baik */
}

.artikel h4 {
    font-size: 1.2rem;
    /* Mengurangi ukuran font */
    color: #129029;
    /* Mempermudah warna */
    margin-bottom: 10px;
    /* Mengurangi margin bawah */
}

.artikel-row {
    display: inline-flex;
    flex-wrap: wrap;
    /* Memungkinkan item untuk wrap */
    justify-content: flex-start;
    /* Memusatkan item */
    gap: 20px;
    /* Menambahkan jarak antara kolom */
    margin-top: -10px;
    /* Mengurangi jarak atas */
}

.artikel-column {
    flex-basis: calc(33.33% - 20px);
    /* Menyesuaikan lebar kolom */
    margin-bottom: 20px;
    /* Menambahkan ruang antara kolom */
}

.artikel-item {
    background-color: #fff;
    /* Warna latar belakang putih */
    border-radius: 10px;
    /* Memperbesar radius border untuk sudut yang lebih halus */
    padding: 20px;
    /* Ubah padding menjadi 20px */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Meningkatkan bayangan kotak */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Menambahkan transisi */
    margin: 20px;
    /* Menambahkan margin sebesar 20px */
}

.artikel-item:hover {
    transform: translateY(-5px);
    /* Menambahkan efek hover ringan */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    /* Meningkatkan bayangan kotak saat hover */
}


.artikel-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    /* Menerapkan radius border pada gambar */
    margin-bottom: 15px;
    /* Penyesuaian margin */
}

.artikel-item h3 {
    font-size: 1.3rem;
    /* Menyesuaikan ukuran font */
    margin-bottom: 10px;
    color: #333;
    /* Memperdalam warna */
}

.artikel-item p {
    font-size: 1rem;
    margin-bottom: 15px;
    /* Penyesuaian margin */
    color: #555;
    /* Memperdalam warna */
}

.read-more {
    display: inline-block;
    /* Mengubah menjadi inline-block untuk penyejajaran yang lebih baik */
    color: #1db265;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    transition: color 0.3s ease;
    /* Menyederhanakan transisi */
}

.read-more:hover {
    color: #40d186;
    /* Memperdalam warna saat hover */
}


/*bagian footer*/
footer {
    background-color: #224d2d;
    padding: 20px 70;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    margin-right: 30px;
    margin-bottom: 30px;
}

.footer-column:last-child {
    margin-right: 30;
}

.footer-column h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-column li {
    margin-bottom: 20px;
}

.footer-column a {
    color: #ffffff;
    text-decoration: none;
}

.footer-column a:hover {
    color: #248e5e;
}

.footer-column img {
    width: 40%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.footer-column p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #ffffff;
}

.footer-column li {
    color: #ffffff;
}

.footer-column .footer-color {
    color: #248e5e;
}

.footer-column ul:nth-child(2) {
    margin-left: 20px;
}

.footer-column ul:last-child {
    margin-left: 20px;
}

.footer-column .medsos {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 200;
}

.footer-column .medsos a img {
    flex-grow: 1;
    flex-basis: 200;
    width: 80%;
    height: auto;

}

.footer-column .medsos a {
    padding: 5px;
}

.footer-column li {
    display: flex;
}

.footer-column li img {
    padding: 4px;
    width: 8%;
    height: auto;
}

.footer-column ul li {
    color: #1db265;
}

footer .copy {
    text-align: center;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-column {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .footer-column ul:nth-child(2) {
        margin-left: 0;
    }

    .footer-column ul:last-child {
        margin-left: 0;
    }
}