body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;
    background-color: #ffffff; /* Tambahkan latar belakang jika diinginkan */
    z-index: 1000; /* Atur z-index agar navigasi tampil di atas konten lain */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.logo img {
    width: 150px; /* Atur lebar gambar logo sesuai kebutuhan */
    height: auto; /* Biarkan tinggi gambar mengikuti proporsi aslinya */
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 70px;
    position: relative;
    /* Untuk posisi relatif agar dropdown muncul di posisi relatif dari item menu utama */
}


.nav-links li a {
    color: #000000;
    text-decoration: none;
}

.nav-links li a:hover {
    color: #3e8e41;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 5px;
    display: block;
    background-color: #fff;
    transition: background-color 0.3s ease;
    /* Menambahkan transisi jika diinginkan */
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    padding: 15px;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.016);
    z-index: 1;
    opacity: 0;
    /* Atur opacity ke 0 agar awalnya tersembunyi */
    transition: opacity 0.9s ease;
    /* Tambahkan efek transisi */
}

/* Tampilkan dropdown ketika item menu utama di-hover */
.nav-links li:hover .dropdown-content {
    display: block;
    opacity: 2;
    /* Atur opacity ke 1 ketika dropdown ditampilkan */
}

.panduan_gizi {
    text-decoration: none; /* Menghilangkan garis bawah dari tautan */
    padding: 10px 30px; /* Ruang dalam di dalam tautan */
    background-color: #0f9b37; /* Warna latar belakang tautan */
    color: #fff; /* Warna teks */
    border-radius: 50px; /* Membuat sudut tautan sedikit melengkung */
}

.panduan_gizi:hover {
    background-color: #1db265; /* Warna latar belakang saat tautan dihover */
}






/*pada Bagian Header*/
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10%;
}

.header-content {
    padding-left: 5%;
    padding-right: 20%;
    max-width: 60%;
}

.container img {
    width: 60%;
    height: auto;
    padding-right: 5%;
}

a {
    color: #0f9b37;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    color: #777;
}

.explore-button {
    display: inline-block;
    background-color: #027b3c;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.explore-button:hover {
    background-color: #0f9b37;
}




/*Bagian flatform branName layanan*/
.layanan {
    text-align: center;
}

.layanan h4 {
    font-size: 24px;
    color: #1db265;
}

#layanan-kami {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px;
    text-align: start;
}

.layanan-item {
    width: calc(25% - 20px); /* Lebar item pada tampilan desktop */
    background-color: #dcffe1;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Menyesuaikan padding dan border ke dalam lebar */
}

.layanan-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

.layanan-item .text {
    margin: 0;
}

.layanan-item h2 {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .layanan-item {
        width: calc(50% - 20px); /* Lebar item pada tampilan layar kecil */
        margin-bottom: 10px; /* Mengurangi jarak antara item */
    }
}


/*Bagian flatform branName manfaat*/
.manfaat {
    text-align: center; 
}

.manfaat h4 {
    font-size: 24px;
    color: #1db265;
}

#manfaat-kami {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px;
    text-align: start;
}

#manfaat-kami a {
    color: black;
    text-decoration: none;
}

.manfaat-item {
    position: relative;
    background-color: #dcffe1;
    border-radius: 10px;
    padding: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    box-shadow: 1 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Menyesuaikan padding dan border ke dalam lebar */

    width: calc(320px - 20px); /* Lebar item pada tampilan desktop */
}

.manfaat-item:hover {
    transform: translateY(-2px);
    /* Menambahkan efek hover ringan */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Meningkatkan bayangan kotak saat hover */
}

.manfaat-item img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 120px; /* Sesuaikan dengan lebar yang diinginkan */
    height: auto; /* Atur tinggi agar proporsi tetap terjaga */
    border-radius: 10px;

}

.manfaat-item .text {
    margin: 0;
}

.manfaat-item h2 {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .manfaat-item {
        width: calc(50% - 20px); /* Lebar item pada tampilan layar kecil */
        margin-bottom: 10px; /* Mengurangi jarak antara item */
    }
}






/*Kolom Artikel Telusuri */
/* Pembaruan Bagian Artikel */
.artikel {
    margin-top: 20px;
    /* Menambahkan jarak di bagian atas */
    margin-bottom: 20px;
    /* Menambahkan jarak di bagian bawah */
    padding: 0 20px;
    /* Menambahkan ruang kiri dan kanan */
}

.judul {
    position: relative; /* Membuat posisi relatif untuk memungkinkan pengaturan posisi absolut pada anak-anaknya */
}

.judul ul {
    list-style-type: none; /* Menghilangkan bullet points */
    padding: 0; /* Menghapus padding bawaan dari daftar */
}

.judul h4 {
    color: #1db265;
}

.lihat-semua {
    position: absolute; /* Mengatur posisi absolut untuk tombol */
    top: 0; /* Meletakkan tombol di bagian atas elemen .judul */
    right: 0; /* Meletakkan tombol di bagian kanan elemen .judul */
    padding: 15px 40px; /* Atur ukuran padding */
    background-color: #0f9b37; /* Warna latar belakang */
    color: #fff; /* Warna teks */
    border: none; /* Hilangkan border */
    border-radius: 5px; /* Agar tombol memiliki sudut melengkung */
    cursor: pointer; /* Ubah kursor menjadi pointer saat dihover */
    transition: background-color 0.3s ease; /* Tambahkan efek transisi */
    text-decoration: none; /* Menghilangkan garis bawah dari tautan */
    border-radius: 50px; /* Membuat sudut tautan sedikit melengkung */
}

.lihat-semua:hover {
    background-color: #1db265; /* Warna latar belakang saat dihover */
}



.artikel .artikel-row .artikel-item h5 {
    color: #0f9b37;
}

.artikel .artikel-row .artikel-item h3 {
    font-size: 20pn;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}


.artikel-row {
    display: inline-flex;
    flex-wrap: wrap;
    /* Memungkinkan item untuk wrap */
    justify-content: flex-start;
    /* Memusatkan item */
    gap: 20px;
    /* Menambahkan jarak antara kolom */
    margin-top: -10px;
    /* Mengurangi jarak atas */
}

.artikel-column {
    flex-basis: calc(33.33% - 20px);
    /* Menyesuaikan lebar kolom */
    margin-bottom: 20px;
    /* Menambahkan ruang antara kolom */
}

.artikel-item {
    background-color: #fff;
    /* Warna latar belakang putih */
    border-radius: 10px;
    /* Memperbesar radius border untuk sudut yang lebih halus */
    padding: 20px;
    /* Ubah padding menjadi 20px */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Meningkatkan bayangan kotak */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Menambahkan transisi */
    margin: 20px;
    /* Menambahkan margin sebesar 20px */
}

.artikel-item:hover {
    transform: translateY(-5px);
    /* Menambahkan efek hover ringan */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    /* Meningkatkan bayangan kotak saat hover */
}


.artikel-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    /* Menerapkan radius border pada gambar */
    margin-bottom: 15px;
    /* Penyesuaian margin */
}

.artikel-item h3 {
    font-size: 1.3rem;
    /* Menyesuaikan ukuran font */
    margin-bottom: 10px;
    color: #333;
    /* Memperdalam warna */
}

.artikel-item p {
    font-size: 1rem;
    margin-bottom: 15px;
    /* Penyesuaian margin */
    color: #555;
    /* Memperdalam warna */
}

.read-more {
    display: inline-block;
    /* Mengubah menjadi inline-block untuk penyejajaran yang lebih baik */
    color: #1db265;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
    /* Menyederhanakan transisi */
}

.read-more:hover {
    color: #40d186;
    /* Memperdalam warna saat hover */
}






/* Pembaruan Bagian Artikel-resep */
.artikel-resep {
    margin-top: 20px;
    /* Menambahkan jarak di bagian atas */
    margin-bottom: 20px;
    /* Menambahkan jarak di bagian bawah */
    padding: 0 20px;
    /* Menambahkan ruang kiri dan kanan */
}

.judul-resep {
    position: relative; /* Membuat posisi relatif untuk memungkinkan pengaturan posisi absolut pada anak-anaknya */
}

.judul-resep ul {
    list-style-type: none; /* Menghilangkan bullet points */
    padding: 0; /* Menghapus padding bawaan dari daftar */
}

.judul-resep h3 {
    color: #1db265;
}

.lihat-semua-resep {
    position: absolute; /* Mengatur posisi absolut untuk tombol */
    top: 0; /* Meletakkan tombol di bagian atas elemen .judul */
    right: 0; /* Meletakkan tombol di bagian kanan elemen .judul */
    padding: 15px 40px; /* Atur ukuran padding */
    background-color: #0f9b37; /* Warna latar belakang */
    color: #fff; /* Warna teks */
    border: none; /* Hilangkan border */
    cursor: pointer; /* Ubah kursor menjadi pointer saat dihover */
    transition: background-color 0.3s ease; /* Tambahkan efek transisi */
    text-decoration: none; /* Menghilangkan garis bawah dari tautan */
    border-radius: 50px; /* Membuat sudut tautan sedikit melengkung */
}

.lihat-semua-resep:hover {
    background-color: #1db265; /* Warna latar belakang saat dihover */
}

.image-grid {
    padding-left: 2%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.image-column {
    position: relative; /* Memastikan kontainer gambar memiliki posisi relatif */
    width: calc(90% - 10px);
}

.image-column img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    display: block; /* Membuat gambar menjadi blok agar elemen teks dapat ditimpakan di atasnya */
}

.image-column h5 {
    position: absolute; /* Menempatkan teks di atas gambar */
    bottom: 0; /* Menempatkan teks di bagian bawah gambar */
    left: 0; /* Menempatkan teks di sisi kiri gambar */
    padding: 10px;
    margin: 0;
    color: #fff;
    text-align: left; /* Alignteks ke sisi kiri */
    transition: opacity 0.3s ease; /* Tambahkan efek transisi untuk kejelasan teks */
}

.image-column:hover h5 {
    opacity: 1; /* Tampilkan teks saat kursor diarahkan ke gambar */
}

.image-column b {
    font-size: 18px; /* Sesuaikan ukuran font untuk judul */
    font-weight: bold; /* Atur tebal huruf */
    text-transform: uppercase; /* Ubah teks menjadi huruf besar */
}

.image-column h5 {
    font-size: 11px; /* Sesuaikan ukuran font untuk paragraf */
}







/*bagian footer*/
.contact {
    display: flex;
    
}

.contact .putih {
    color: #ffffff;
    flex-direction: column;
}

.contact .hijau {
    color: #14B85E;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.putih, .hijau {
    margin-left: 10px; /* Menambahkan jarak antara elemen */
}

.contact li img {
    width: 30px; /* Ubah lebar gambar sesuai kebutuhan */
    height: 30px; 
}

footer {
    background-color: #224d2d;
    padding: 20px 70;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    margin-right: 30px;
    margin-bottom: 30px;
}

.footer-column:last-child {
    margin-right: 30;
}

.footer-column h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-column li {
    margin-bottom: 20px;
}

.footer-column a {
    color: #ffffff;
    text-decoration: none;
}

.footer-column a:hover {
    color: #248e5e;
}

.footer-column img {
    width: 40%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.footer-column p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #ffffff;
}

.footer-column li {
    color: #ffffff;
}

.footer-column .footer-color {
    color: #248e5e;
}

.footer-column ul:nth-child(2) {
    margin-left: 20px;
}

.footer-column ul:last-child {
    margin-left: 20px;
}

.footer-column .medsos {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 200;
}

.footer-column .medsos a img {
    width: 20px; /* Atur lebar gambar logo sesuai kebutuhan */
    height: auto; /* Biarkan tinggi gambar mengikuti proporsi aslinya */

}


.footer-column .medsos a {
    padding: 10px;
}

.footer-column li {
    display: flex;
}


.footer-column ul.Bantuan li {
    color: #ffffff; /* Atur warna teks untuk elemen dalam daftar */
}



.footer-column ul li img {
    filter: brightness(0) invert(1); /* Mengubah warna gambar menjadi putih */
}

.footer-column ul li {
    color: #0a8334; /* Mengatur warna teks menjadi putih */
}

footer .copy {
    text-align: center;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-column {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .footer-column ul:nth-child(2) {
        margin-left: 0;
    }

    .footer-column ul:last-child {
        margin-left: 0;
    }
}