body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;
    background-color: #ffffff; /* Tambahkan latar belakang jika diinginkan */
    z-index: 1000; /* Atur z-index agar navigasi tampil di atas konten lain */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.logo img {
    width: 150px; /* Atur lebar gambar logo sesuai kebutuhan */
    height: auto; /* Biarkan tinggi gambar mengikuti proporsi aslinya */
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 70px;
    position: relative;
    /* Untuk posisi relatif agar dropdown muncul di posisi relatif dari item menu utama */
}


.nav-links li a {
    color: #000000;
    text-decoration: none;
}

.nav-links li a:hover {
    color: #3e8e41;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 5px;
    display: block;
    background-color: #fff;
    transition: background-color 0.3s ease;
    /* Menambahkan transisi jika diinginkan */
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    padding: 15px;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.016);
    z-index: 1;
    opacity: 0;
    /* Atur opacity ke 0 agar awalnya tersembunyi */
    transition: opacity 0.9s ease;
    /* Tambahkan efek transisi */
}

/* Tampilkan dropdown ketika item menu utama di-hover */
.nav-links li:hover .dropdown-content {
    display: block;
    opacity: 2;
    /* Atur opacity ke 1 ketika dropdown ditampilkan */
}

.panduan_gizi {
    text-decoration: none; /* Menghilangkan garis bawah dari tautan */
    padding: 10px 30px; /* Ruang dalam di dalam tautan */
    background-color: #0f9b37; /* Warna latar belakang tautan */
    color: #fff; /* Warna teks */
    border-radius: 50px; /* Membuat sudut tautan sedikit melengkung */
}

.panduan_gizi:hover {
    background-color: #1db265; /* Warna latar belakang saat tautan dihover */
}







/*pada Bagian Header*/
header {
    padding-top: 4%;
}
.container {
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10%;
}

.container h4 {
    text-align: center;
    color: #0f9b37;
}

.container h1 {
    text-align: center;
}

.container img {
    width: 80%;
    height: auto;
    padding-left: 10%;
}






/*Bagian contribusi TIM*/
.contribusi {
    text-align: center;
    padding-top: 10%;
}
.header-content {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.title {
    font-size: 20px;
    color: #0f9b37;
}

.description {
    color: #000000;
}

.description b {
    color: #0f9b37;
}

.profile-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Mengatur agar konten berada di tengah */
    gap: 20px; /* Jarak antara elemen */
} 

.profile-container {
    flex-basis: calc(18.11% - 20px); /* Lebar setiap kolom */
    margin-bottom: 20px;
    text-align: center; /* Mengatur agar konten berada di tengah */
    position: relative; /* Mengatur posisi relatif untuk menempatkan elemen lainnya */
    align-items: center; /* Mengatur agar konten berada di tengah vertikal */
    padding-bottom: 10%;
    
}

.profile-name1 b {
    color: #000000;
}

.profile-image {
    max-width: 100%; /* Agar gambar tidak melebihi lebar container */
}

.profile-name1 {
    margin-top: 10px; /* Memberikan jarak antara gambar dan nama */
    color: #0f9b37;
}






/*bagian footer*/
.contact {
    display: flex;
    
}

.contact .putih {
    color: #ffffff;
    flex-direction: column;
}

.contact .hijau {
    color: #14B85E;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.putih, .hijau {
    margin-left: 10px; /* Menambahkan jarak antara elemen */
}

.contact li img {
    width: 30px; /* Ubah lebar gambar sesuai kebutuhan */
    height: 30px; 
}

footer {
    background-color: #224d2d;
    padding: 20px 70;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    margin-right: 30px;
    margin-bottom: 30px;
}

.footer-column:last-child {
    margin-right: 30;
}

.footer-column h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-column li {
    margin-bottom: 20px;
}

.footer-column a {
    color: #ffffff;
    text-decoration: none;
}

.footer-column a:hover {
    color: #248e5e;
}

.footer-column img {
    width: 40%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.footer-column p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #ffffff;
}

.footer-column li {
    color: #ffffff;
}

.footer-column .footer-color {
    color: #248e5e;
}

.footer-column ul:nth-child(2) {
    margin-left: 20px;
}

.footer-column ul:last-child {
    margin-left: 20px;
}

.footer-column .medsos {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 200;
}

.footer-column .medsos a img {
    width: 20px; /* Atur lebar gambar logo sesuai kebutuhan */
    height: auto; /* Biarkan tinggi gambar mengikuti proporsi aslinya */

}


.footer-column .medsos a {
    padding: 10px;
}

.footer-column li {
    display: flex;
}


.footer-column ul.Bantuan li {
    color: #ffffff; /* Atur warna teks untuk elemen dalam daftar */
}



.footer-column ul li img {
    filter: brightness(0) invert(1); /* Mengubah warna gambar menjadi putih */
}

.footer-column ul li {
    color: #0a8334; /* Mengatur warna teks menjadi putih */
}

footer .copy {
    text-align: center;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-column {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .footer-column ul:nth-child(2) {
        margin-left: 0;
    }

    .footer-column ul:last-child {
        margin-left: 0;
    }
}